In [ ]:
from IPython.display import display, Markdown
## Question: List all the employees who are also managers.

display(Markdown("**Employees who are managers (based on role title containing 'Manager'):**\n\n- **ID: 3** - Charlie Brown (charlie@org.com), Department ID: 2, Role: HR Manager, Hire Date: 2010-01-01\n- **ID: 10** - Jack Ryan (jack@org.com), Department ID: 2, Role: HR Manager, Hire Date: 2010-01-01\n- **ID: 17** - Quinn Lopez (quinn@org.com), Department ID: 2, Role: HR Manager, Hire Date: 2010-01-01\n- **ID: 31** - Michael Scott (m.scott@company.com), Department ID: 1, Role: HR Manager, Hire Date: 2010-01-01\n- **ID: 23** - Charlie Senior (charlie.sen@company.com), Department ID: 3, Role: HR Manager, Hire Date: 2020-05-20\n- **ID: 27** - Grace Legacy (grace.leg@company.com), Department ID: 1, Role: HR Manager, Hire Date: 2019-08-15\n\n*(Query used: SELECT e.id, e.name, e.email, e.department_id, e.role_id, e.hire_date, r.title FROM employee e JOIN role r ON e.role_id = r.id WHERE r.title LIKE '%Manager%';)*"))

**Employees who are managers (based on role title containing 'Manager'):**

- **ID: 3** - Charlie Brown (charlie@org.com), Department ID: 2, Role: HR Manager, Hire Date: 2010-01-01
- **ID: 10** - Jack Ryan (jack@org.com), Department ID: 2, Role: HR Manager, Hire Date: 2010-01-01
- **ID: 17** - Quinn Lopez (quinn@org.com), Department ID: 2, Role: HR Manager, Hire Date: 2010-01-01
- **ID: 31** - Michael Scott (m.scott@company.com), Department ID: 1, Role: HR Manager, Hire Date: 2010-01-01
- **ID: 23** - Charlie Senior (charlie.sen@company.com), Department ID: 3, Role: HR Manager, Hire Date: 2020-05-20
- **ID: 27** - Grace Legacy (grace.leg@company.com), Department ID: 1, Role: HR Manager, Hire Date: 2019-08-15

*(Query used: SELECT e.id, e.name, e.email, e.department_id, e.role_id, e.hire_date, r.title FROM employee e JOIN role r ON e.role_id = r.id WHERE r.title LIKE '%Manager%';)*

Some of these words *are emphasized*.
Some of these words _are emphasized also_.